.page {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Шапка */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.header__logo-img {
    height: 80px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.header__profile-icon {
    height: 30px;
    cursor: pointer;
}

/* Основная сетка */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

/* Карта*/
.main__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.map__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.map__placeholder {
    font-size: 18px;
    color: #aaa;
}

.map__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Правая панель */
.main__sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.sidebar__title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.results__summary {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.upload__label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.upload__input {
    display: none;
}

.results__btn-clear {
    padding: 10px 15px;
    background-color: #FF4C4C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.results__btn-select-all {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.results__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.results__item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.results__item--plane {
    background-color: #ffefef;
}

.results__item--car {
    background-color: #efffff;
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }

    .main__sidebar, .main__content {
        padding: 10px;
    }
}
