<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ космических снимков</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="page">
    <header class="header">
        <div class="header__logo">
            <a href="{% url 'home_page' %}">
                <img class="header__logo-img" src="" alt="">
            </a>
        </div>
        
        <nav class="header__nav">
            <a href="{% url 'history' %}" class="header__nav-link">История</a>
            <a href="#google-maps" class="header__nav-link">Google Карты</a>
            <a href="{% url 'profile' %}">
                <img src="" alt="Профиль" class="header__profile-icon">
            </a>
        </nav>
    </header>

    <main class="main">
        <section class="main__content">
            <div class="map__wrapper" id="map-container">
                <img src="" alt="" class="map__image" id="uploaded-image">
            </div>
        </section>
        <section class="main__sidebar">
            <h2 class="sidebar__title">Настройки</h2>
            <div class="results__summary">
                <p>Обнаружено: <span id="object-count">N</span> объектов</p>
                <p>Самолёты: M avg conf: <span id="plane-confidence">XX%</span></p>
                <p>Машины: K avg conf: <span id="car-confidence">XX%</span></p>
                <p>Time: XX ms; average confidence: XX%</p>
            </div>

            <div class="buttons">
                <form method="post" enctype="multipart/form-data" id="upload-form">
                    <!-- {% csrf_token %} -->
                    <label for="id_original_image" class="upload__label">
                        Выберите файл
                        <!-- {{ form.original_image }}  Django форма -->
                    </label>
                </form>
                <button class="results__btn-select-all">Выделить классы</button>
                <button class="results__btn-clear">Снять выделение</button>
            </div>
        </section>
    </main>

    
    <script src="script.js"></script>
</body>
</html>
