<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../../static/css/login_page.css">
</head>
<body class="page">
    <div class="content">
        <header class="header">
            <h1 class="neon-text">Авторизация</h1>
        </header>
        <section class="main">
            <label class="text-label" for="email">Email</label>
            <input class="text-input neon-input" type="email" name="email" id="email" placeholder="Введите email" required>
            <label class="text-label" for="password">Пароль</label>
            <div class="password-container">
                <input class="text-input neon-input" type="password" name="password" id="password" placeholder="Введите пароль" required>
                <button type="button" id="toggle-password" class="toggle-password neon-button">Показать</button>
            </div>
        </section>
        <div class="buttons">
            <button class="confirm neon-button">Войти</button>
        </div>
        <div class="login-link">
            <p>Нет аккаунта? <a href="/login" class="neon-link">Зарегистрироваться</a></p>
        </div>
    </div>
    <script src="../../static/js/login_page/login_page.js"></script>
</body>
</html>