<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../../static/css/general_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="page">
    <header class="header">
        <div class="header__logo">
            <a href="#"><img src="../../static/img/business-trip_6596366.png" alt="Logo" class="header__logo-image"></a>
        </div>
        {% if user.is_authenticated %}
        {% else %}
        <div class="header__auth-buttons">
            <a class="header__auth-button" href="authenticate/login/">Sign Up</a>
            <a class="header__auth-button" href="authenticate/register/">Sign In</a>
        </div>
        {% endif %}
    </header>

    <section class="hero">
        <div class="hero__content">
            <h1 class="hero__title">Откройте для себя небо</h1>
            <p class="hero__subtitle">Спутниковое обнаружение самолетов с помощью искусственного интеллекта</p>
            {% if user.is_authenticated %}
                <a href="main/" class="hero__cta-button">Начать обнаружение</a>
            {% else %}
                <a href="authenticate/login/" class="hero__cta-button">Начать обнаружение</a>
            {% endif %}
        </div>
    </section>

    <section class="about">
        <h2 class="about__title">О проекте</h2>
        <p class="about__description">
            Создание моделей машинного обучения по космическим снимкам сверхвысокого
            пространственного разрешения для поиска самолетов, кораблей, автомобилей и прочей техники
        </p>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__social-media">
                <a href="#" class="footer__social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="footer__social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="footer__social-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="footer__social-link"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer__address">
                <p class="footer__address-line">Moscow Aviation Institute</p>
                <p class="footer__address-line">Email: mai.ru</p>
                <p class="footer__address-line">Phone: +7 900 555 35 35</p>
            </div>
        </div>
    </footer>
</body>
</html>