{% extends 'base.html' %}

{% block title %}История запросов{% endblock %}

{% block content %}
<main class="content">
    <h1 class="content-header">История запросов</h1>

    <div class="history-cards" id="history-cards"></div>

    <template id="history-card-template">
        <div class="history-card">
            <img class="history-card__image" src="" alt="Изображение">
            <div class="history-card__content">
                <h3 class="history-card__title"></h3>
                <p class="history-card__date"></p>
                <button class="history-card__delete">Удалить</button>
            </div>
        </div>
    </template>

    <div class="popup" id="popup">
        <div class="popup__content">
            <span class="popup__close">&times;</span>
            <img class="popup__image" src="" alt="Детальное изображение">
            <h2 class="popup__title"></h2>
            <div class="popup__details"></div>
        </div>
    </div>
</main>

<link rel="stylesheet" href="../../static/css/history_page.css">

<script src="../../static/js/history_page/history_script.js"></script>
{% endblock %}
